<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<h1>Add user</h1>
<form action="#" method="POST" th:action="@{/new}" th:object="${user}">
    <table>
        <tr>
            <td>
                <label for="name">Enter name</label>
                <input type="text" th:field="*{name}" id="name" required/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="surname">Enter surname</label>
                <input type="text" th:field="*{surname}" id="surname"/>
                <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error</div>
            </td>
        </tr>
            <br>
        <tr>
            <td>
                <label for="age">Enter age</label>
                <input type="number" min="0" max="127" th:field="*{age}" id="age">
                <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
            </td>
        </tr>
            <br>
        <tr>
            <td>
                <label for="email">Enter email</label>
                <input type="text" th:field="*{email}" id="email" required/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
            </td>
        </tr>
            <br>
        <tr>
            <td>
                <input type="submit" class="buttonAdd" value="Add user"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>